body {
	margin: 0;
	padding: 0;
}
html {
  scroll-behavior: smooth;
}
.container {
	max-width: 90%;
	margin: auto;
}
/************************* Custom Fonts*/
@font-face {
	font-family: logoFont;
	src: url("fonts/FontleroyBrownNF.otf") format("OpenType"),
		 url("fonts/FontleroyBrownNF.ttf") format("TrueType"),
		 url("fonts/FontleroyBrownNF.woff") format("WOFF"),
		 url("fonts/FontleroyBrownNF.svg") format("SVG")
}
.service-area h1,h2 {
	font-size: 40px;
	color: black;
	font-family: montserrat;
}

/************************* header*/

.header {
	background-color: #fdcb6e;
	height: 700px;
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 40px 0;
}
.logo-menu{
	display: block;
	overflow: hidden;
}
.menu-logo {
	display: block;
	overflow: hidden;
}
.logo {
	float: left;
	overflow: hidden;
}
.logo a {
	text-decoration: none;
	font-family: logoFont;
	font-size: 50px;
	color: #000;
	font-weight: bolds;
}
.logo img {
	height: 60px;
	width: 120px;
}
.main-menu {
	float: right;
	overflow: hidden;
}
.main-menu ul {
	display: inline-block;
	list-style: none;
	overflow: hidden;
}
.main-menu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	padding: 5px;
	transition: background 0.5s;
}
.main-menu ul li:hover {
	
}
.main-menu ul li a {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: poppins;
}

.hero-text-button {
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 70px 0;
}

.hero-text-button h1 {
	font-size: 65px;
	color: #000000;
	font-family: montserrat;
	font-weight: 800px;
}

.hero-text-button p {
	font-size: 20px;
	color: #000000;
	font-family: poppins;
	font-weight: 400px;
}

.hero-button {
	text-align: center;
}
.hero-btn {
	text-align: center;
	margin-right: 10px;
	padding:10px 15px;
	background:#336E6A;
	border-radius: 5px;
	border: 2px solid #336E6A;
	font-family: arial;
	font-size: 15px;
	color: #fff;
	transition: 0.5s;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
.hero-btn:hover {
	background: #E0D9C4;
	color: black;
}


/************************ hire-area */
.hire-area {
    padding: 70px 0;
    display: block;
    overflow: hidden;
    text-align: center;
}

.hire-area img{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.upwork {
	height: 350px;
	width: 40%;
	background: #CCE1BA;
	padding: 50px 25px;
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 50px;
	border-radius: 5px;
	text-align: center;
}
.fiverr {
	height: 350px;
	width: 40%;
	background: #81ecec;
	padding: 50px 25px;
	display: block;
	overflow: hidden;
	margin: 0 50px;
	border-radius: 5px;
	text-align: center;
}
.hire-area h2 {
	font-size: 30px;
	color: #000000;
	font-family: poppins;
	font-weight: 400px;
	text-transform: capitalize;
}

.hire-area p {
	font-size: 15px;
	color: #000000;
	font-family: poppins;
}



/**************************slider */

.slider-area {
	text-align: center;
}


/**************************About Area*/
.about-me {
	background-image: url('images/aboutBg.jpg');
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
}

.about-overlay {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
.textNimg {
	margin: 50px 0;
	padding: 30px;
}
.owner-img {
	margin: 0 auto;
	height: 150px;
	width: 150px;
	background-image: url('images/owner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}
.textNimg hr {
	width: 15%;
	color: white;
}
.about-me h2 {
	color: #fff;
	font-size: 30px;
	text-transform: capitalize;
	display: inline;
	font-family: poppins;
}
.textNimg p {
	font-family: poppins;
	font-size: 15px;
	color: white;
}
.textNimg i {
	font-family: poppins;
	font-size: 15px;
	color: #EBEBEB;
}


/************************** social follow */
.socialFollow {
	background: #E9E9ED;
	height: 500px;
	width: 100%;
	padding: 50px 0;
	text-align: center;
}

.socialFollow .container {
	width: 80%;
}
.facebook {
	height: 490px;
	width: 35%;
	background: #FFFFFF;
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 7%;
	border-radius: 15px;
	border: 3px solid black;
}
.facebook .cover-photo {
	height: 200px;
	width: 100%;
	background-image: url('images/fbcover.jpg');
	background-size: cover;
	background-position: top;
}
.facebook .cover-photo img {
	height: 20px;
	width: 20px;
	margin-left: 90%;
	margin-top: 130px;
}
.facebook .profile-picture {
	background-image: url('images/owner.jpg');
	background-size: cover;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: auto;
	margin-top: -50px;
	border:4px solid #fff;
	position: relative;
}
.facebook .profile-picture img {
	height: 20px;
	width: 20px;
	position: absolute;
	bottom: 20%;
	right: 0;
}
.socialFollow  {
	font-size: 12px;
	font-family: poppins;
	font-weight: normal;
}
.socialFollow .fbname {
	font-size: 15px;
	font-family: arial;
}
.addfriend {
	text-align: center;
	margin-right: 10px;
	padding: 10px 13px;
	background: #3875EA;
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: #fff;
	transition: 0.5s;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}

.msgsent {
	text-align: center;
	padding: 10px 13px;
	background: #ECEDF2;
	border-radius: 5px;
	font-family: arial;
	font-size: 15px;
	color: #000000;
	transition: 0.5s;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
}





/**************************contact-fom*/
.contact-form {
	padding: 20px 0;
	background: #c7ecee;
	text-align: center;
}
.form-input {
	width: 50%;
	margin: auto;
}
.contact-form input,textarea {
	width: 94%;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid black;
}
.contact-form input[type=submit] {
	width: 97%;
	background:#336E6A;
	border-radius: 5px;
	border: 2px solid #336E6A;
	font-family: arial;
	font-size: 15px;
	color: #fff;
	transition: 0.5s;
}
.contact-form input[type=submit]:hover {
	cursor: pointer;
	background: #E0D9C4;
	color: black;
}
.contact-form input[type=file]{
	border: none;
	margin: 0;
}
::placeholder {
	font-size: 15px;
	font-weight: bold;
	font-family: poppins;
	color: black;
}




/**************************   service page*/
.service-area {
	padding: 50px 0px;
	display: block;
	overflow: hidden;
}
.service-area h1 {
	font-size: 40px;
	color: black;
	font-family: montserrat;
	text-align: center;
}
.service-items {
	border: 4px solid black;;
	border-radius: 10px;
	width: 30%;;
	margin: 20px 1%;
	height: auto;
	float: left;
	overflow: hidden;
	display: block;
}
.service-image {
	text-align: center;
	padding: 20px 0;
	height: 200px;
	width: 100%;
}



/*************service background images*/


.si1 {
	background-image: url('images/wordpress.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.si2 {
	background-image: url('images/elementor.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.si3 {
	background-image: url('images/divi.jpeg');
	background-size: cover;
}

.si4 {
	background-image: url('images/wooc.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.si5 {
	background-image: url('images/member.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.si6 {
	background-image: url('images/lms.jpeg');
	background-size: cover;
}

.si7 {
	background-image: url('images/speed.jpeg');
	background-size: cover;
}
.si8 {
	background-image: url('images/seo.jpeg');
	background-size: cover;
}

.si9 {
	background-image: url('images/abxd.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/************* end bg images **/

.service-items img {
	height: 200px;
	width: 200px;
	text-align: center;
	border-radius: 50%;
}
.service-item-txt {
	background: #E4E4FB;
	padding: 20px;
}
.service-items h2 {
	font-family: poppins;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
}
.service-items p {
	font-family: poppins;
	font-size: 12px;
	color: #000000;
	font-weight: 300px;
}


/*************************  footer*/
.topBar {
	height: 40px;
	width: 100%;
	background: #0B022C;
	display: block;
	overflow: hidden;
}
.topContact {
	float: left;
	overflow: hidden;
	margin: 10px;
	color: #fff;
	font-size: 15px;
	font-family: tahoma;

}
.socialLink {
	float: right;
	overflow: hidden;
}
.socialLink ul {
	display: inline-block;
	list-style: none;
	margin: 10px;
}
.socialLink ul li {
	display: inline-block;
	list-style: none;
	margin-right: 10px;

}
.socialLink ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}





/*Filterrin CSs*/

.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}